{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/search.css' %}">
{% endblock extra_css %}

{% block content %}
<br>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <label class ="top" for="search"> Search Books </label>
    <input type="text" id="search" placeholder="Type your desired books here...">
    
    <div id="searchview">
    </div>


</div>
{% endblock content %}

{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock extra_script %}