{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/profile.css' %}">
    {% block extra_css %}
    {% endblock %}
    <title>{{ page_title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Story</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="{% url 'index' %}">Story 1</a>
                   <a class="dropdown-item" href="https://www.figma.com/file/Rc4I5e5vtgLMdPy3mIlrfc/PPW-Story-2?node-id=0%3A1">Story 2</a>
                   <a class="dropdown-item" href="{% url 'profile' %}">Story 3</a>
                   <a class="dropdown-item" href="{% url 'home' %}">Story 4</a>
                   <a class="dropdown-item" href="{% url 'view_matkul' %}">Story 5</a>
                   <a class="dropdown-item" href="{% url 'display-activities' %}">Story 6</a>
                   <a class="dropdown-item" href="{% url 'accordion' %}">Story 7</a>
                   <a class="dropdown-item" href="{% url 'search-book' %}">Story 8</a>
                   {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Story 9 (Log out)</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Story 9 (Log in)</a>
                   {% endif %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'welcome' %}"> Hello, {{ user.username }} </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'register' %}"> Register</a>
            </li>
        {% endif %}
        </ul>
    </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% block extra_script %}
    {% endblock %}
</body>
</html>