{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/accordion.css' %}">
{% endblock extra_css %}

{% block content %}
<br>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="accordion">
        <div class="accordion-title">
        <div class="expand">
            <img class="icons change" src="{% static 'svg/plus.svg' %}">
            <h2 class="title">Biodata</h2>
        </div>
            <img class="icons up" src="{% static 'svg/arrow-up.svg' %}">
            <img class="icons down" src="{% static 'svg/arrow-down.svg' %}">
        </div>
        <div class="accordion-content">
            <table>
                <tr>
                    <td>Full Name:</td>
                    <td>Gabriel Erwhian Winarso</td>
                </tr>
                <tr>
                    <td>Nickname:</td>
                    <td>Arel</td>
                </tr>
                <tr>
                    <td>Birthdate:</td>
                    <td>7th April 2001</td>
                </tr>
                <tr>
                    <td>Hobby:</td>
                    <td>Playing Video Games</td>
                </tr>
                <tr>
                    <td>Education:</td>
                    <td>
                        <ul>
                            <li>Universitas Indonesia - Information Systems (2019-Now) </li>
                            <li>SMAN 1 Tangerang - Natural Science (2016-2019) </li>
                            <li>SMPN 1 Tangerang (2013-2016) </li>
                            <li>SD Strada Santa Maria (2007-2013) </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-title">
            <div class="expand">
                <img class="icons change" src="{% static 'svg/plus.svg' %}">
                <h2 class="title" >What i am doing now?</h2>
            </div>
            <img class="icons up" src="{% static 'svg/arrow-up.svg' %}">
            <img class="icons down" src="{% static 'svg/arrow-down.svg' %}">
        </div>
        <div class="accordion-content">
           <p> Currently, i am still pursuing my degree. Lots of assignment & deadlines as usual. </p>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-title">
            <div class="expand">
                <img class="icons change" src="{% static 'svg/plus.svg' %}">
                <h2 class="title" >Experience</h2>
            </div>
            <img class="icons up" src="{% static 'svg/arrow-up.svg' %}">
            <img class="icons down" src="{% static 'svg/arrow-down.svg' %}">
        </div>
        <div class="accordion-content">
            <ul>
                <li>Educare</li>
                <p>Toefl Staff (April 2020 - May 2020) </p>
                <li>DDP 0</li>
                <p>Mentor Coordinator (July 2020 - September 2020)</p>
                <p>Mentor (July 2020 - September 2020)</p>
                <li>Teaching Assistant</li>
                <p>Foundation of Programming 1 (September 2020 - present)</p>
            </ul>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-title">
            <div class="expand">
                <img class="icons change" src="{% static 'svg/plus.svg' %}">
                <h2 class="title" >Awards</h2>
            </div>
            <img class="icons up" src="{% static 'svg/arrow-up.svg' %}">
            <img class="icons down" src="{% static 'svg/arrow-down.svg' %}">
        </div>
        <div class="accordion-content">
           <p> Nothing Yet :) </p>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_script %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'js/accordion.js' %}"></script>
{% endblock extra_script %}