{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>

{% if user.is_authenticated %}
    <h2>Hey, you Already Logged in</h2>
    <p><a href={% url 'home' %}> Go Home </p>

{% else %}
{% if messages %}
    {% for message in messages  %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<form method = "POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-light" type="submit" value="Login">
</form>
{% endif %}
{% endblock content %}