{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<br>
<h1> Hello, {{ user.first_name }} {{ user.last_name }} aka {{ user.username }} </h1>

{% else %}
<br>
<h1> You haven't logged in </h1>
<p><a href="{% url 'login' %}"> Login </a></p>
{% endif %}

{% endblock content %}