.top {
    margin-top: 10px;
}
img {
    margin-left: auto;
    margin-right: auto;
}
#search {
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding:7px;
}

.grey-card {
    background-color: white;
    border-radius: 15px;
    word-break: break-word;
    border: solid 1px;
    margin-top: 20px;
    padding: 1%;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}
